.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative; 
    background-image: url('src/assets/Netflix-1000x563_waifu2x_photo_noise3_scale2.png');
    background-size: cover; 
    background-position: center;
    animation: zoomBackground 15s infinite;
    z-index: 1;
}

/* Animaci칩n para hacer zoom en la imagen de fondo */
@keyframes zoomBackground {
    0% {
        background-size: 100%; /* Comienza con el tama침o normal */
    }
    50% {
        background-size: 120%; /* Aumenta el tama침o al 120% */
    }
    100% {
        background-size: 100%; /* Regresa al tama침o original */
    }
}


.home-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.566); 
    z-index: 0; 
}


.title {
    font-size: 180px;
    color: #ffba90; 
    z-index: 2;
}

.subtitle {
    font-size: 40px;
    color: #ef7f4b;
    z-index: 2; 
}

.description {
    font-size: 25px;
    color: #e0dddd;
    z-index: 2; 
}

.buttons-container {
    margin-top: 20px;
    z-index: 2; 
}

.btn {
    background-color: #e0813d;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bolder;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    z-index: 2; 
}

.btn:hover {
    background-color: rgb(218, 90, 10);
    color: #f0ceb6;
}
