body {
  background-image: url('src/assets/Netflix-1000x563_waifu2x_photo_noise3_scale2.png');
  color: white;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: -1;
}

.app {
  margin: auto;
}

.featured-movie {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.featured-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center;
  animation: zoomInOut 10s infinite alternate;
}

.movie-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 5px;
}

.recommended, .all-movies {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.recommended h2, .all-movies h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.903);
}

.recommended-list, .movie-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}


.featured-img,
.movie-card img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.movie-list {
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-list-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 80%;
}

.movie-card {
  flex: 1 1 calc(10% - 10px); /* Cada película ocupa un 33% menos el espacio del gap */
  margin: 5px;  /* Reduce el margen entre las imágenes */
  text-align: center;
}

.movie-card img {
  width: 100%; /* Ajusta las imágenes al 100% del tamaño del contenedor */
  height: auto;
  object-fit: cover;
}

.movie-info h1 {
  font-size: 2rem;
}

.recommended-list,
.movie-list {
  display: flex;
  flex-wrap: wrap;
}

/* Estilo para las películas recomendadas */
.recommended-list .movie-card {
  flex: 1 1 calc(33.333% - 10px); /* Igual que las películas normales, pero con una mayor flexibilidad */
}

.recommended-list .movie-card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Hacer que las películas recomendadas se ajusten bien en móviles y pantallas más pequeñas */
@media (max-width: 768px) {
  .movie-card {
    flex: 1 1 calc(50% - 10px); /* En pantallas pequeñas, cada imagen ocupa el 50% */
  }

  .recommended-list .movie-card {
    flex: 1 1 calc(50% - 10px); /* Las recomendaciones también ocupan 50% en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .movie-card {
    flex: 1 1 100%; /* En pantallas muy pequeñas, cada imagen ocupa el 100% */
  }

  .recommended-list .movie-card {
    flex: 1 1 100%; /* Las recomendaciones también ocupan el 100% en pantallas muy pequeñas */
  }
}


.pagination-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-btn.left {
  left: 0px;
}

.pagination-btn.right {
  right: 0px;
}

.pagination-btn i {
  font-size: 1.5em;
}

.movie-card h3 {
  font-size: 16px;
  margin: 10px 0 0;
}

.go-home-btn {
  display: block;
  margin: 20px auto 0;
  padding: 15px 30px;
  font-size: 17px;
  color: #ffffff;
  background-color: #b86326;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-home-btn:hover {
  background-color: rgb(218, 90, 10);
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-bottom: 55px;
}

.memflisb {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.status-bar-btn {
  padding: 15px;
  font-size: 17px;
  color: #ffffff;
  background-color: #b86326;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.status-bar-btn:hover {
  background-color: rgb(218, 90, 10);
}

.status-bar-buttons {
  display: flex;
  gap: 10px;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.admin-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #222;
  color: white;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  z-index: 9999;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}

.admin-container2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #222;
  color: white;
  border-radius: 10px;
  width: 90%;
  max-width: 350px;
  z-index: 9999;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}

.movie-selector,
.user-selector {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.assign-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b86326;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.assign-btn:hover {
  background-color: rgb(218, 90, 10);
}

.success-message {
  margin-top: 10px;
  color: #4caf50;
  font-weight: bold;
}

.letricablanca {
  padding: 50px;
  color: rgba(255, 255, 255, 0.839);
}

.close-btn {
  position: absolute;
  right: 10px;
  background-color: #d2090a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #ff4c4c;
}

.search-bar {
  margin-bottom: 15px;
}

.search-bar input {
  width: 100%;
  border: 2px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.search-bar label {
  display: block;
  margin-bottom: 5px;
}

/* APARTADO ADMIN */


.table-auto {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Arial', sans-serif;
}


.table-auto thead tr {
  background-color: #393939;
  color: #e3e3e3;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
}

.table-auto th {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 2px solid #464646;
}


.table-auto tbody tr:nth-child(even) {
  background-color: #737373;
}

.table-auto tbody tr:hover {
  background-color: #353535;
}


.table-auto td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #505050;
  color: #ffffff;
  text-align: left;
}

a.bg-blue-500 {
  background-color: #b86326;
  color: rgb(130, 130, 130);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
}

.btn-editar {
    /* display: block; */
    margin: 20px auto 0;
    /* padding: 15px 30px; */
    font-size: 17px;
    color: #ffffff;
    background-color: #b86326;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.bg-blue-500:hover {
  background-color: #884617;
}

.btn-eliminar {
  background-color: #f63b3b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin-left: 6px;
}

.btn-eliminar:hover {
  background-color: #cf2020;
}


i {
  margin-right: 0.25rem;
  font-size: 0.875rem;
}

.filtraciones {
  font-size: 16px;
  padding: 5px;
  border-radius: .9rem;
  border-color: #c9c9c9;
  width: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.15rem 1.75rem rgba(58, 59, 69, 0.15);
  border-left: 4px solid #b86326;
  padding: 1.5rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.25rem 1.85rem rgba(58, 59, 69, 0.25);
}

.text-primary {
  color: #b86326;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.text-gray-700 {
  color: #5a5c69;
  font-size: 1rem;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slider-title {
  display: block;
  align-self:flex-start;
  margin-bottom: 20px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-label {
  font-size: 16px;
  margin: 0 20px; 
}

.slider {
  width: 300px;
  height: 10px;
  background-color: #b86326; 
  border-radius: 5px;
  position: relative;
}

.slider-thumb {
  background-color: orange; 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
}

.slider-track {
  background-color: orange; 
  border-radius: 5px;
}
.slider-info {
  margin-top: 10px;
  margin-bottom: 18px;
  font-size: 14px;
  color: #464646;
  text-align:left;
  font-style: italic;
}

/* MODAL */
.modal-overlay-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 2rem 0;
}

.custom-card-edit {
  display: block;
  margin: 20px auto 0;
  padding: 15px 30px;
  font-size: 17px;
  color: #ffffff;
  background-color: #b86326;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4a5568;
  margin-bottom: 1rem;
  text-align: center;
}

.custom-label-text {
  font-size: 1rem;
  color: #2d3748;
  margin-bottom: 0.5rem;
  display: block;
}

.custom-input-field {
  width: 80%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  font-size: 1rem;
  color: #2d3748;
  background-color: #f7fafc;
}

.custom-btn-save {
  display: block;
  margin: 20px auto 0;
  padding: 15px 30px;
  font-size: 17px;
  color: #ffffff;
  background-color: #b86326;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-btn-cancel {
  background-color: #e53e3e;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.custom-card-edit:hover, .custom-btn-save:hover, .custom-btn-cancel:hover {
  transform: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.modal-overlay-custom {
  padding: 2rem 0;
}

.custom-button {
  display: block;
  /* margin: 20px auto 0; */
  /* padding: 15px 30px; */
  font-size: 17px;
  color: #ffffff;
  background-color: #b86326;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: rgb(218, 90, 10);
  transform: translateY(-2px); 
}

.icon-spacing {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.custom-flex-card {
  display: flex;
  justify-content: center;
}

.containerfixx {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 30px;
  position: relative;
}

.h2fixx{
  font-size: 16px;
}

.modal-overlay-custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.custom-card-edit {
  background-color: #efeeee;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden; 
}

.modal-content {
  max-height: 400px; 
  overflow-y: auto; 
}

.custom-flex-card {
  display: flex;
  justify-content: flex-end;
}

.custom-btn-save,
.custom-btn-cancel {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-btn-cancel {
  background-color: #f44336;
  color: white;
}

.seguimiento-btn {
  padding: 30px;
  display: flex;
  justify-content: center;

}

.pagination-info{
  padding: 15px;
}